<!--
File Name: footer.ejs
Student Name: Roshna Raju
Student Id: 301174285
Date: 02/06/2021
-->
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <h4>&copy;Copyright 2021. All Rights Reserved.</h4>
  </div>
</nav>