<!--
File Name: edit.ejs
Student Name: Roshna Raju
Student Id: 301174285
Date: 17/06/2021 -->
<div class="row justify-content-lg-center g-3">
    <h1>
        <%= title %> Business Contacts
    </h1>
    <form method="POST" class="column-lg-6 col-md-10 col-sm-10">
        <div class="input-group mb-3">
            <span class="input-group-text" id="contactName">Contact Name</span>
            <input id="contactName" type="text" class="form-control" placeholder="Contact Name"
                aria-label="Contact Name" aria-describedby="Contact Name" name="contactName"
                value="<%=item.contactName%>" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="contactNumber">Contact Number</span>
            <input id="contactNumber" type="text" class="form-control" placeholder="Contact Number"
                aria-label="Contact Number" aria-describedby="Contact Number" name="contactNumber"
                value="<%=item.contactNumber%>" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="category">E-mail Address</span>
            <input id="emailAddress" type="text" class="form-control" placeholder="E-mail Address"
                aria-label="E-mail Address" aria-describedby="E-mail Address" name="emailAddress"
                value="<%=item.emailAddress%>" required>
        </div>
        <button type="submit" class="btn btn-primary" id="editButton"><i class="fas fa-edit fa-lg"></i>Edit</button>
        <!-- Add Cancel button -->
        <button id="cancelButton" type="reset" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel</button>
    </form>
</div>