<!--
File Name: home.ejs
Student Name: Roshna Raju
Student Id: 301174285
Date: 02/06/2021
-->

<body style="background-image: url('/Assets/images/background.png'); opacity: 0.75;" width="100%">
    <div class="container">
        <p style="color:#FFFFFF" class="display-4"> Welcome to my Portfolio...!!!</p>
        <p style="color:#FFFFFF; font-style: italic"> To solve real life and business problems...</p>
        <a class="nav-link " href="/about"><i class="fas fa-info"></i> About Me</a>
        <a class="nav-link " href="/projects"><i class="fas fa-cogs"></i> Projects</a>
        <a class="nav-link " href="/services"><i class="fas fa-bars"></i> Services Offered</a>
        <a class="nav-link " href="/contact"><i class="fas fa-phone"></i> Contact Me</a>
    </div>