<!--
File Name: projects.ejs
Student Name: Roshna Raju
Student Id: 301174285
Date: 03/06/2021
-->

<div class="row">
   <div class="col-sm-6">
      <div style="background-color:#FFFFFF" class="card">
         <div class="card-body">
            <img src="/Assets/images/xelerate.png" alt=" " width="200" height="150"></img>
            <p style="color:#000000"> Xelerate is a cloud-native and micro-services-based platform that helps
               organizations own the customer experience by setting up a system-of-engagement with enhanced
               product management capabilities, enterprise pricing, revenue management and partner ecosystem management.
               I was part of the backend development of this product.
            </p>
            <br>
         </div>
      </div>
   </div>
   <div class="col-sm-6">
      <div style="background-color:#FFFFFF" class="card">
         <div class="card-body">
            <img src="/Assets/images/Hospital.png" alt=" " width="200" height="150"></img>
            <p style="color:#000000"> MEDITRACK will provide information on the hospital staff such as doctors,
               nurses, receptionists and clerks, supplies such as lab equipment, patients, the type of treatments, and
               the
               inventories that are required each day in a hospital. The system will enable the users to connect,
               organize and manage the data to provide timely information to all the stakeholders at a low cost. I was
               part of end-to-end design and development of this application.</p>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-6">
      <div style="background-color:#FFFFFF" class="card">
         <div class="card-body">
            <img src="/Assets/images/insurance.jpg" alt=" " width="200" height="200"></img>
            <p style="color:#000000"> Insurance Calculator helps to calculate and understand the insurance schemes,
               interest rates and the premium in the most easiest way. I was part of end-to-end design and development
               of this application.</p>
         </div>
      </div>
   </div>